/* Inicio do desafio
@author Kevin Tavares
 */

/* Configurações gerais */
html {
  scroll-behavior: smooth;
}

:root {
  --main-p-color: #8d96a7;
  --main-h1-color: #8f8e8c;
  --p-blue-color: #47a6b3;
  --main-orange-color: #f8b11e;
}

body {
  font-family: sans-serif;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

/* Cabeçalho */

header {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.102);
  position: relative;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navMobile {
  text-align: center;
  padding-top: 30px;
  height: 100px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: -162%;
  z-index: 1;
  transition: top 0.2s;
}

.navMobile ul li {
  margin-bottom: 15px;
  color: var(--main-p-color);
  text-transform: uppercase;
  cursor: pointer;
}

.navWeb {
  display: none;
}

.close {
  display: none;
}

/* Home */

.sec-1 img {
  position: relative;
  filter: brightness(0.8);
}

.sec-1 h1 {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 2px rgba(44, 44, 44, 0.363);
  font-size: 1.5rem;
  margin-top: 100px;
  font-weight: bold;
}

.sec-1 p {
  text-align: center;
  margin-top: 40px;
  color: var(--main-p-color);
  line-height: 1.4;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner img {
  width: 100%;
}

.info {
  text-align: center;
}

.info p {
  width: auto;
  display: inline-block;
  border-top: 2px solid #d9d9d9;
  padding: 20px 15px;
  color: var(--p-blue-color);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s;
}

.info p:hover {
  color: var(--main-orange-color);
}

/* Sobre */

.sec-2 {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.video_ceo iframe {
  width: 100%;
  height: 300px;
}

.video_ceo div {
  margin-top: 20px;
}

.video_ceo div h1 {
  color: var(--main-h1-color);
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.video_ceo div h2 {
  color: var(--main-orange-color);
  font-style: oblique;
  font-size: 1.2rem;
  margin-top: 5px;
}

.video_ceo div p {
  margin-top: 30px;
  color: var(--main-p-color);
  text-align: justify;
  line-height: 1.4;
}

.sec-2_title h1 {
  text-align: center;
  color: var(--main-h1-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 280px;
  margin: 0 auto;
  padding: 50px 0;
}

.cards_func {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.cards_func img {
  width: 100%;
  filter: grayscale();
  transition: transform 0.3s;
}

.cards_func img:hover {
  filter: initial;
  transform: scale(0.95);
}

/* Virtudes */

.sec-3 {
  padding: 50px 0;
}

.sec-3 article {
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  gap: 20px;
}

.sec-3_text h1 {
  color: var(--main-h1-color);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sec-3_text p {
  color: var(--main-p-color);
  text-align: justify;
  line-height: 1.4;
}

/* Vagas */

footer {
  margin-bottom: 50px;
}

footer h1 {
  color: var(--main-h1-color);
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

footer h2 {
  margin: 30px 0;
  font-size: 1.2rem;
  color: var(--main-h1-color);
  font-weight: bold;
  text-transform: uppercase;
}

.vagas {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.vagas > p {
  font-weight: bolder;
  color: var(--p-blue-color);
}

.vagas > p:hover {
  color: var(--main-orange-color);
}

.vagas p:nth-child(2) {
  text-align: right;
  color: var(--main-p-color);
  font-weight: bolder;
}

/* Modo responsivo para laptops e telas pequenas */
@media screen and (min-width: 1024px) {
  p {
    font-size: 1.1rem;
  }

  .container {
    margin-left: 100px;
    margin-right: 100px;
  }

  .close,
  .open,
  .navMobile {
    display: none;
  }

  .navWeb {
    display: initial;
  }

  .navWeb ul {
    display: flex;
    gap: 40px;
  }

  .navWeb ul li {
    color: var(--main-p-color);
    text-transform: uppercase;
    transition: color 0.3s;
  }

  .navWeb ul li a:hover {
    color: var(--main-orange-color);
  }

  .sec-1 h1 {
    font-size: 2.6rem;
    margin-top: 180px;
  }

  .video_ceo iframe {
    width: 2100px;
  }

  .video_ceo {
    display: flex;
    gap: 60px;
    align-items: stretch;
  }

  .cards_func {
    display: flex;
  }

  .sec-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    gap: 30px;
    position: relative;
    margin-bottom: 50px;
  }

  .sec-3 article {
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .sec-3_text {
    text-align: center;
  }

  .sec-3 .info {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
  }
}

/* Modo responsivo para desktops e telas grandes */
@media screen and (min-width: 1440px) {
  p {
    font-size: 1.2rem;
  }
  .container {
    margin-left: 150px;
    margin-right: 150px;
  }

  .sec-1 h1 {
    font-size: 3.5rem;
    margin-top: 250px;
  }

  .video_ceo iframe {
    width: 2500px;
  }
}

/* Modo responsivo para desktops e telas extra grandes */
@media screen and (min-width: 1600px) {
  .container {
    margin-left: 300px;
    margin-right: 300px;
  }

  .video_ceo iframe {
    width: 3000px;
  }
}
